 @media (max-width: 767px) {
   .grid-section {
     display: none;
   }
 }


 @media (min-width: 768px) and (max-width:1023px) {


   .logo {
     padding-bottom: 5vh;
     height: 8%;
     width: 8%;
   }

   .dropdown-container {

     top: 80px;
   }


   .glider-section {
     display: none;
   }

   .grid-container {
     margin: 10vh 0;
     width: 100%;
     display: grid;
     grid-template-columns: 1fr 1fr;
     align-content: center;
     justify-items: center;
     grid-row-gap: 10vh;

   }

   .product {
     width: 80%;
   }


 }


 @media (min-width: 1024px) {


   /* NAV */

   .logo {
     padding-bottom: 5vh;
     height: 2%;
     width: 3%;
   }


   /* BLACK SECTION */


   .black-logo {
     width: 40vw;
   }

   /* PRODUCT SECTION */

   .glider-section {
     display: none;
   }


   /* GRID SECTION */

   .grid-container {
     margin: 10vh 0;
     width: 100%;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     align-content: center;
     justify-items: center;
     grid-row-gap: 10vh;

   }


   .product {
     padding: 1.2em;
     width: 70%;
   }

   /* RED SECTION */


   .red-logo {
     width: 40vw;
   }

   /* GREEN SECTION */


   .green-logo {
     width: 40vw;

   }

 }