@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

body {
  font-family: 'Titillium Web', sans-serif;
}

/* NAV */

nav {
  position: sticky;
}

.nav-container {
  height: 10vh;
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
  align-items: center;
}

.logo {
  padding-bottom: 5vh;
  height: 20%;
  width: 15%;
}

.dropdown-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
}

.dropdown {
  display: none;
  margin-right: 5vw;
  box-shadow: 1px 2px 2px 2px rgb(191, 191, 191);
}

.dropdown li {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 1em 2em;
  width: 100%;
}

.fa-solid {
  padding-right: 1em;
}

.arrow {

  color: white;
}

.dropdown li:hover {
  background-color: #7FC3F1;
}


/* BLACK SECTION */

.black {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  background-color: black;
}

.black-logo {
  width: 80vw;
  height: auto;
}

/* PRODUCT SECTION */

.product-section {
  background-color: white;
  height: 100vh;
  display: flex;
  justify-content: center;

}

.product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.product-container img {
  width: 105%;
}


.product-desc {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.product-desc h2 {
  font-size: 2.5em;
}

.product-desc p {
  width: 100%;
  font-size: 1.4em;
  font-weight: 600;
}

button {
  margin-top: 2vh;
  padding: 0.5em 1em;
  background-color: black;
  color: white;
  border-radius: 50px;
}

.button-container {
  display: flex;
  align-items: center;
  padding: 1em;
}

.button-icon {
  font-size: 1.75em
}

/* RED SECTION */

.red {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  background-color: red;
}

.red-logo {
  width: 80vw;
  height: auto;
}

/* GREEN SECTION */

.green {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  background-color: green;
}

.green-logo {
  width: 80vw;
  height: auto;
}